main {
  margin: 3%;
}

.header {
  font-family: 'Montserrat-Bold';
  text-align: center;
  font-size: 15px;
  color: whitesmoke;
  margin: 10px 20px;
  text-transform: uppercase;
}

.resource-title{
  text-align: center;
  color: yellow;
}

.name-title{
  text-align: center;
  color: #419ea3;
}

.resource-name{
  font-size: medium;
}

.text-name{
  font-size: x-large;
}


.page-icon {
  width: 2em;
  margin-top: -1.7%;
  margin-right: 2%;
}

.table-header {
  font-family: 'Montserrat-Bold';
  font-size: 25px;
  color: white;
  margin: 30px 20px;
  text-transform: uppercase;
  display: inline-block;
}

.table-header-cont {
  text-align: center;
  margin: 0px 30px;
}

.resource-card {
  background: #5e17eb !important;
  border-radius: 20px !important;
}

/***TABLE***/
thead {
  border-bottom: 1px solid white;
}

td {
  padding-bottom: 1%;
}

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
} 

.table-container {
  padding: 1% 3% 1% 3%;
  max-width: 500px;
  min-width: 500px;
  min-height: 100px;
  width: 50%;
  
  overflow-x:auto !important;
  padding: 2%;
}

.min-select {
  width: 5.5em !important; 
}

.queue-table-header-cont {
  margin-top: 4%;
}

.text-left {
  text-align: left;
}

.full-width {
  width: 50% !important;
}

.filter-cont {
  margin-bottom: 3%;
}

.filter-label {
  font-family: 'Montserrat-Bold';
  font-weight: 100;
  margin-right: 2%;
}

.table-columns {
  font-family: 'Montserrat-Bold';
  text-align: center;
  color: #000000;
  
}

table {
  width: 100% !important;
  text-align: center !important;
  color: #000000!important;
}

.refresh-btn {
  float: right;
  background-color: blue; 
  border-color: aqua;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 4px 2px;
  border-radius: 70%;
}

/*** FOOTER ***/
.tableFooter {
    /* background-color: #ffff; */
    padding: 5px 0px;
    width: 100%;
    font-weight: 500;
    text-align: left;
    font-size: 16px;
    color: #E5E5E5;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 10px;
    align-items: center;
    border-top: 1px solid #E5E5E5;
    /* overflow-x:auto !important; */
  }

  .tableFooter:before {
    content: "";
    height: 7px;
    width: 100%;
    position: absolute;
    top: -7px;
    background: inherit;
    z-index: 2;
  }

  .navigation-btn-back {
    border: none;
    background: #3469E7;
    color: #ffffff;
    box-shadow: 0px 4px 8px 1px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    width: 15%;
    margin: 1%;
    margin-top: 3%;
    font-size: 14px;
  }

  .navigation-btn-next {
    border: none;
    background: #3ABFE2; 
    color: #ffffff;
    box-shadow: 0px 4px 8px 1px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    width: 15%;
    margin: 1%;
    margin-top: 3%;
    font-size: 14px;
  }

  .navigation-icon {
    font-size: 12px;
  }
  
  .button {
    border: none;
    padding: 7px 14px;
    border-radius: 10px;
    cursor: pointer;
    margin-right: 4px;
    margin-left: 4px;
  }
  
  .activeButton {
    color: white;
    background: #419ea3;
  }
  
  .inactiveButton {
    color: #2c3e50;
    background: #f9f9f9;
  }

  .page-number {
    margin-top: 1.3% !important;
    font-family: 'Montserrat-Bold';
    color: #000000;
  }

  .margin-right-2 {
    margin-right: 2% !important;
  }

  .page-label {
    margin-right: 3%;
    margin-top: 2%;
  }

  .display-input {
    width: 7%;
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 1px solid black;
  }

  /* Chrome, Safari, Edge, Opera */
.display-input::-webkit-outer-spin-button,
.display-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.display-input[type=number] {
  -moz-appearance: textfield;
}
